# Compiled binaries & intermediate
Binaries/*
Plugins/**/Binaries/*
Intermediate/*
Plugins/**/Intermediate/*
DerivedDataCache/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Builds
Build/*

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# Rider IDE files
.idea/
*.sln.iml
*.Rider*
*.userprefs
*.iws

# Visual Studio files 
.vs/
*.sdf
*.VC.db
*.VC.VC.opendb

# Mac / Linux temp files
*.DS_Store
*.xcuserdata

# Ignore packaged builds
*.xcodeproj
*.xcworkspace
*.exe
*.dll
*.pdb

# Keep what matters

# UE project file
!*.uproject

# Source code
!Source/

# Content (assets, Blueprints)
!Content/

# Config (project settings)
!Config/

# Saved data files (JSON / text)
Saved/*

